{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
        "title": "NetworkManagementClient",
        "version": "2018-12-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/expressRouteGateway.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "network-expressRouteGateway",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteGateways": {
            "get": {
                "description": "Lists ExpressRoute gateways under a given subscription.",
                "operationId": "ExpressRouteGateways_ListBySubscription",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of ExpressRoute gateways.",
                                    "properties": {
                                        "value": {
                                            "description": "List of ExpressRoute gateways.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Common resource representation.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "ExpressRoute gateway resource.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "A unique read-only string that changes whenever the resource is updated.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "description": "ExpressRoute gateway resource properties.",
                                                        "properties": {
                                                            "autoScaleConfiguration": {
                                                                "description": "Configuration for auto scaling.",
                                                                "properties": {
                                                                    "bounds": {
                                                                        "description": "Minimum and maximum number of scale units to deploy.",
                                                                        "properties": {
                                                                            "max": {
                                                                                "description": "Maximum number of scale units deployed for ExpressRoute gateway.",
                                                                                "type": "integer"
                                                                            },
                                                                            "min": {
                                                                                "description": "Minimum number of scale units deployed for ExpressRoute gateway.",
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "expressRouteConnections": {
                                                                "description": "List of ExpressRoute connections to the ExpressRoute gateway.",
                                                                "items": {
                                                                    "allOf": [
                                                                        {
                                                                            "description": "Reference to another subresource.",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "description": "Resource ID.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "x-ms-azure-resource": true,
                                                                            "type": "object"
                                                                        }
                                                                    ],
                                                                    "description": "ExpressRouteConnection resource.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the resource.",
                                                                            "type": "string"
                                                                        },
                                                                        "properties": {
                                                                            "x-ms-client-flatten": true,
                                                                            "description": "Properties of the ExpressRouteConnection subresource.",
                                                                            "properties": {
                                                                                "authorizationKey": {
                                                                                    "description": "Authorization key to establish the connection.",
                                                                                    "type": "string"
                                                                                },
                                                                                "expressRouteCircuitPeering": {
                                                                                    "description": "The ExpressRoute circuit peering.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "The ID of the ExpressRoute circuit peering.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "provisioningState": {
                                                                                    "description": "The provisioning state of the resource.",
                                                                                    "enum": [
                                                                                        "Succeeded",
                                                                                        "Updating",
                                                                                        "Deleting",
                                                                                        "Failed"
                                                                                    ],
                                                                                    "readOnly": true,
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "ProvisioningState"
                                                                                    }
                                                                                },
                                                                                "routingWeight": {
                                                                                    "description": "The routing weight associated to the connection.",
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "expressRouteCircuitPeering"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "readOnly": true,
                                                                "type": "array"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning state of the resource.",
                                                                "enum": [
                                                                    "Succeeded",
                                                                    "Updating",
                                                                    "Deleting",
                                                                    "Failed"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "virtualHub": {
                                                                "description": "The Virtual Hub where the ExpressRoute gateway is or will be deployed.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "virtualHub"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ExpressRouteGateways"
                ],
                "x-ms-examples": {
                    "ExpressRouteGatewayListBySubscription": {
                        "parameters": {
                            "api-version": "2018-12-01",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                            "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName",
                                            "location": "westus",
                                            "name": "expressRouteGatewayName",
                                            "properties": {
                                                "autoScaleConfiguration": {
                                                    "bounds": {
                                                        "min": 2
                                                    }
                                                },
                                                "expressRouteConnections": [
                                                    {
                                                        "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName",
                                                        "name": "connectionName",
                                                        "properties": {
                                                            "authorizationKey": "f28e9c99-78d8-4248-a855-c54cf6beb99d",
                                                            "expressRouteCircuitPeering": {
                                                                "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering"
                                                            },
                                                            "provisioningState": "Provisioned",
                                                            "routingWeight": 1
                                                        }
                                                    }
                                                ],
                                                "provisioningState": "Succeeded",
                                                "virtualHub": {
                                                    "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName"
                                                }
                                            },
                                            "type": "Microsoft.Network/expressRouteGateways"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways": {
            "get": {
                "description": "Lists ExpressRoute gateways in a given resource group.",
                "operationId": "ExpressRouteGateways_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of ExpressRoute gateways.",
                                    "properties": {
                                        "value": {
                                            "description": "List of ExpressRoute gateways.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Common resource representation.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "ExpressRoute gateway resource.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "A unique read-only string that changes whenever the resource is updated.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "description": "ExpressRoute gateway resource properties.",
                                                        "properties": {
                                                            "autoScaleConfiguration": {
                                                                "description": "Configuration for auto scaling.",
                                                                "properties": {
                                                                    "bounds": {
                                                                        "description": "Minimum and maximum number of scale units to deploy.",
                                                                        "properties": {
                                                                            "max": {
                                                                                "description": "Maximum number of scale units deployed for ExpressRoute gateway.",
                                                                                "type": "integer"
                                                                            },
                                                                            "min": {
                                                                                "description": "Minimum number of scale units deployed for ExpressRoute gateway.",
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "expressRouteConnections": {
                                                                "description": "List of ExpressRoute connections to the ExpressRoute gateway.",
                                                                "items": {
                                                                    "allOf": [
                                                                        {
                                                                            "description": "Reference to another subresource.",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "description": "Resource ID.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "x-ms-azure-resource": true,
                                                                            "type": "object"
                                                                        }
                                                                    ],
                                                                    "description": "ExpressRouteConnection resource.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the resource.",
                                                                            "type": "string"
                                                                        },
                                                                        "properties": {
                                                                            "x-ms-client-flatten": true,
                                                                            "description": "Properties of the ExpressRouteConnection subresource.",
                                                                            "properties": {
                                                                                "authorizationKey": {
                                                                                    "description": "Authorization key to establish the connection.",
                                                                                    "type": "string"
                                                                                },
                                                                                "expressRouteCircuitPeering": {
                                                                                    "description": "The ExpressRoute circuit peering.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "The ID of the ExpressRoute circuit peering.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "provisioningState": {
                                                                                    "description": "The provisioning state of the resource.",
                                                                                    "enum": [
                                                                                        "Succeeded",
                                                                                        "Updating",
                                                                                        "Deleting",
                                                                                        "Failed"
                                                                                    ],
                                                                                    "readOnly": true,
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "ProvisioningState"
                                                                                    }
                                                                                },
                                                                                "routingWeight": {
                                                                                    "description": "The routing weight associated to the connection.",
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "expressRouteCircuitPeering"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "readOnly": true,
                                                                "type": "array"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning state of the resource.",
                                                                "enum": [
                                                                    "Succeeded",
                                                                    "Updating",
                                                                    "Deleting",
                                                                    "Failed"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "virtualHub": {
                                                                "description": "The Virtual Hub where the ExpressRoute gateway is or will be deployed.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "virtualHub"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ExpressRouteGateways"
                ],
                "x-ms-examples": {
                    "ExpressRouteGatewayListByResourceGroup": {
                        "parameters": {
                            "api-version": "2018-12-01",
                            "resourceGroupName": "resourceGroupName",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                            "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName",
                                            "location": "westus",
                                            "name": "expressRouteGatewayName",
                                            "properties": {
                                                "autoScaleConfiguration": {
                                                    "bounds": {
                                                        "min": 2
                                                    }
                                                },
                                                "expressRouteConnections": [
                                                    {
                                                        "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName",
                                                        "name": "connectionName",
                                                        "properties": {
                                                            "authorizationKey": "f28e9c99-78d8-4248-a855-c54cf6beb99d",
                                                            "expressRouteCircuitPeering": {
                                                                "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering"
                                                            },
                                                            "provisioningState": "Provisioned",
                                                            "routingWeight": 1
                                                        }
                                                    }
                                                ],
                                                "provisioningState": "Succeeded",
                                                "virtualHub": {
                                                    "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName"
                                                }
                                            },
                                            "type": "Microsoft.Network/expressRouteGateways"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}": {
            "delete": {
                "description": "Deletes the specified ExpressRoute gateway in a resource group. An ExpressRoute gateway resource can only be deleted when there are no connection subresources.",
                "operationId": "ExpressRouteGateways_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the ExpressRoute gateway.",
                        "in": "path",
                        "name": "expressRouteGatewayName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete successful."
                    },
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously."
                    },
                    "204": {
                        "description": "Delete successful."
                    }
                },
                "tags": [
                    "ExpressRouteGateways"
                ],
                "x-ms-examples": {
                    "ExpressRouteGatewayDelete": {
                        "parameters": {
                            "api-version": "2018-12-01",
                            "expressRouteGatewayName": "expressRouteGatewayName",
                            "resourceGroupName": "resourceGroupName",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {},
                            "202": {},
                            "204": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Fetches the details of a ExpressRoute gateway in a resource group.",
                "operationId": "ExpressRouteGateways_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the ExpressRoute gateway.",
                        "in": "path",
                        "name": "expressRouteGatewayName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation succeeded. The operation returns the ExpressRoute gateway.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common resource representation.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "ExpressRoute gateway resource.",
                                    "properties": {
                                        "etag": {
                                            "description": "A unique read-only string that changes whenever the resource is updated.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "x-ms-client-flatten": true,
                                            "description": "ExpressRoute gateway resource properties.",
                                            "properties": {
                                                "autoScaleConfiguration": {
                                                    "description": "Configuration for auto scaling.",
                                                    "properties": {
                                                        "bounds": {
                                                            "description": "Minimum and maximum number of scale units to deploy.",
                                                            "properties": {
                                                                "max": {
                                                                    "description": "Maximum number of scale units deployed for ExpressRoute gateway.",
                                                                    "type": "integer"
                                                                },
                                                                "min": {
                                                                    "description": "Minimum number of scale units deployed for ExpressRoute gateway.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "expressRouteConnections": {
                                                    "description": "List of ExpressRoute connections to the ExpressRoute gateway.",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "description": "Reference to another subresource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "ExpressRouteConnection resource.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the resource.",
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "x-ms-client-flatten": true,
                                                                "description": "Properties of the ExpressRouteConnection subresource.",
                                                                "properties": {
                                                                    "authorizationKey": {
                                                                        "description": "Authorization key to establish the connection.",
                                                                        "type": "string"
                                                                    },
                                                                    "expressRouteCircuitPeering": {
                                                                        "description": "The ExpressRoute circuit peering.",
                                                                        "properties": {
                                                                            "id": {
                                                                                "description": "The ID of the ExpressRoute circuit peering.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "provisioningState": {
                                                                        "description": "The provisioning state of the resource.",
                                                                        "enum": [
                                                                            "Succeeded",
                                                                            "Updating",
                                                                            "Deleting",
                                                                            "Failed"
                                                                        ],
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "ProvisioningState"
                                                                        }
                                                                    },
                                                                    "routingWeight": {
                                                                        "description": "The routing weight associated to the connection.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "expressRouteCircuitPeering"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "readOnly": true,
                                                    "type": "array"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the resource.",
                                                    "enum": [
                                                        "Succeeded",
                                                        "Updating",
                                                        "Deleting",
                                                        "Failed"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "virtualHub": {
                                                    "description": "The Virtual Hub where the ExpressRoute gateway is or will be deployed.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "virtualHub"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ExpressRouteGateways"
                ],
                "x-ms-examples": {
                    "ExpressRouteGatewayGet": {
                        "parameters": {
                            "api-version": "2018-12-01",
                            "expressRouteGatewayName": "expressRouteGatewayName",
                            "resourceGroupName": "resourceGroupName",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                    "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName",
                                    "location": "westus",
                                    "name": "expressRouteGatewayName",
                                    "properties": {
                                        "provisioningState": "Succeeded",
                                        "virtualHub": {
                                            "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName"
                                        }
                                    },
                                    "type": "Microsoft.Network/expressRouteGateways"
                                }
                            },
                            "404": {}
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates a ExpressRoute gateway in a specified resource group.",
                "operationId": "ExpressRouteGateways_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the ExpressRoute gateway.",
                        "in": "path",
                        "name": "expressRouteGatewayName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update successful. The operation returns the resulting ExpressRoute gateway resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common resource representation.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "ExpressRoute gateway resource.",
                                    "properties": {
                                        "etag": {
                                            "description": "A unique read-only string that changes whenever the resource is updated.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "x-ms-client-flatten": true,
                                            "description": "ExpressRoute gateway resource properties.",
                                            "properties": {
                                                "autoScaleConfiguration": {
                                                    "description": "Configuration for auto scaling.",
                                                    "properties": {
                                                        "bounds": {
                                                            "description": "Minimum and maximum number of scale units to deploy.",
                                                            "properties": {
                                                                "max": {
                                                                    "description": "Maximum number of scale units deployed for ExpressRoute gateway.",
                                                                    "type": "integer"
                                                                },
                                                                "min": {
                                                                    "description": "Minimum number of scale units deployed for ExpressRoute gateway.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "expressRouteConnections": {
                                                    "description": "List of ExpressRoute connections to the ExpressRoute gateway.",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "description": "Reference to another subresource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "ExpressRouteConnection resource.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the resource.",
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "x-ms-client-flatten": true,
                                                                "description": "Properties of the ExpressRouteConnection subresource.",
                                                                "properties": {
                                                                    "authorizationKey": {
                                                                        "description": "Authorization key to establish the connection.",
                                                                        "type": "string"
                                                                    },
                                                                    "expressRouteCircuitPeering": {
                                                                        "description": "The ExpressRoute circuit peering.",
                                                                        "properties": {
                                                                            "id": {
                                                                                "description": "The ID of the ExpressRoute circuit peering.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "provisioningState": {
                                                                        "description": "The provisioning state of the resource.",
                                                                        "enum": [
                                                                            "Succeeded",
                                                                            "Updating",
                                                                            "Deleting",
                                                                            "Failed"
                                                                        ],
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "ProvisioningState"
                                                                        }
                                                                    },
                                                                    "routingWeight": {
                                                                        "description": "The routing weight associated to the connection.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "expressRouteCircuitPeering"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "readOnly": true,
                                                    "type": "array"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the resource.",
                                                    "enum": [
                                                        "Succeeded",
                                                        "Updating",
                                                        "Deleting",
                                                        "Failed"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "virtualHub": {
                                                    "description": "The Virtual Hub where the ExpressRoute gateway is or will be deployed.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "virtualHub"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Create successful. The operation returns the resulting ExpressRoute gateway resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common resource representation.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "ExpressRoute gateway resource.",
                                    "properties": {
                                        "etag": {
                                            "description": "A unique read-only string that changes whenever the resource is updated.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "x-ms-client-flatten": true,
                                            "description": "ExpressRoute gateway resource properties.",
                                            "properties": {
                                                "autoScaleConfiguration": {
                                                    "description": "Configuration for auto scaling.",
                                                    "properties": {
                                                        "bounds": {
                                                            "description": "Minimum and maximum number of scale units to deploy.",
                                                            "properties": {
                                                                "max": {
                                                                    "description": "Maximum number of scale units deployed for ExpressRoute gateway.",
                                                                    "type": "integer"
                                                                },
                                                                "min": {
                                                                    "description": "Minimum number of scale units deployed for ExpressRoute gateway.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "expressRouteConnections": {
                                                    "description": "List of ExpressRoute connections to the ExpressRoute gateway.",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "description": "Reference to another subresource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "ExpressRouteConnection resource.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the resource.",
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "x-ms-client-flatten": true,
                                                                "description": "Properties of the ExpressRouteConnection subresource.",
                                                                "properties": {
                                                                    "authorizationKey": {
                                                                        "description": "Authorization key to establish the connection.",
                                                                        "type": "string"
                                                                    },
                                                                    "expressRouteCircuitPeering": {
                                                                        "description": "The ExpressRoute circuit peering.",
                                                                        "properties": {
                                                                            "id": {
                                                                                "description": "The ID of the ExpressRoute circuit peering.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "provisioningState": {
                                                                        "description": "The provisioning state of the resource.",
                                                                        "enum": [
                                                                            "Succeeded",
                                                                            "Updating",
                                                                            "Deleting",
                                                                            "Failed"
                                                                        ],
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "ProvisioningState"
                                                                        }
                                                                    },
                                                                    "routingWeight": {
                                                                        "description": "The routing weight associated to the connection.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "expressRouteCircuitPeering"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "readOnly": true,
                                                    "type": "array"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the resource.",
                                                    "enum": [
                                                        "Succeeded",
                                                        "Updating",
                                                        "Deleting",
                                                        "Failed"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "virtualHub": {
                                                    "description": "The Virtual Hub where the ExpressRoute gateway is or will be deployed.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "virtualHub"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ExpressRouteGateways"
                ],
                "x-ms-examples": {
                    "ExpressRouteGatewayCreate": {
                        "parameters": {
                            "api-version": "2018-12-01",
                            "expressRouteGatewayName": "gateway-2",
                            "putExpressRouteGatewayParameters": {
                                "location": "westus",
                                "name": "gateway-2",
                                "properties": {
                                    "autoScaleConfiguration": {
                                        "bounds": {
                                            "min": 3
                                        }
                                    },
                                    "virtualHub": {
                                        "id": "/subscriptions/subid/resourceGroups/resourceGroupId/providers/Microsoft.Network/virtualHubs/virtualHubName"
                                    }
                                },
                                "type": "Microsoft.Network/expressRouteGateways"
                            },
                            "resourceGroupName": "resourceGroupName",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                    "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/gateway-2",
                                    "location": "westus",
                                    "name": "gateway-2",
                                    "properties": {
                                        "autoScaleConfiguration": {
                                            "bounds": {
                                                "min": 3
                                            }
                                        },
                                        "provisioningState": "Succeeded",
                                        "virtualHub": {
                                            "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName"
                                        }
                                    },
                                    "type": "Microsoft.Network/expressRouteGateways"
                                }
                            },
                            "201": {
                                "body": {
                                    "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                    "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteGateways/gateway-2",
                                    "location": "westus",
                                    "name": "gateway-2",
                                    "properties": {
                                        "autoScaleConfiguration": {
                                            "bounds": {
                                                "min": 3
                                            }
                                        },
                                        "provisioningState": "Succeeded",
                                        "virtualHub": {
                                            "id": "/subscriptions/subid/resourceGroups/resourceGroupName/providers/Microsoft.Network/virtualHubs/virtualHubName"
                                        }
                                    },
                                    "type": "Microsoft.Network/expressRouteGateways"
                                }
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "description": "Common resource representation.",
                                        "properties": {
                                            "id": {
                                                "description": "Resource ID.",
                                                "type": "string"
                                            },
                                            "location": {
                                                "description": "Resource location.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "Resource name.",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "tags": {
                                                "additionalProperties": {
                                                    "type": "string"
                                                },
                                                "description": "Resource tags.",
                                                "type": "object"
                                            },
                                            "type": {
                                                "description": "Resource type.",
                                                "readOnly": true,
                                                "type": "string"
                                            }
                                        },
                                        "x-ms-azure-resource": true,
                                        "type": "object"
                                    }
                                ],
                                "description": "ExpressRoute gateway resource.",
                                "properties": {
                                    "etag": {
                                        "description": "A unique read-only string that changes whenever the resource is updated.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "properties": {
                                        "x-ms-client-flatten": true,
                                        "description": "ExpressRoute gateway resource properties.",
                                        "properties": {
                                            "autoScaleConfiguration": {
                                                "description": "Configuration for auto scaling.",
                                                "properties": {
                                                    "bounds": {
                                                        "description": "Minimum and maximum number of scale units to deploy.",
                                                        "properties": {
                                                            "max": {
[...]
